.list {
  list-style: none;
  padding: 0;
}

.item {
  border-radius: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 350px;
  display: flex;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: #ffdfdf;
  border: 1px solid #ffc107;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.span {
  margin-left: 5px;
}

.item:hover {
  border-color: #ffc107;
  box-shadow: 0 0 60px #eee;
}

.delete {
  background-image: linear-gradient(
    to right,
    #fdcccc 0%,
    #e8a991 51%,
    #f0c8c8 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: 333;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-family: inherit;
}

.delete:hover {
  background-position: right center;
  color: #333;
  text-decoration: none;
}
