.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.item {
  margin-right: 20px;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.link:global(.active) {
  font-weight: bold;
}
.link:hover {
  color: #ffc107;
}
