.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  display: flex;
  font-size: 20px;
  letter-spacing: 0.5em;
}

.input {
  width: 400px;
  padding: 10px;
  background-color: #ffdfdf;
  border: 1px solid #ffc107;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  box-shadow: 0 0 20px #eee;
}

.input:focus {
  outline: none;
  border-color: #ffc107;
  box-shadow: 0 0 60px #eee;
}

.submit {
  background-image: linear-gradient(
    to right,
    #8f7070 0%,
    #dbd4b4 51%,
    #624040 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: 333;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  border: none;
  font-family: inherit;
}

.submit:hover {
  background-position: right center;
  color: #333;
  text-decoration: none;
}
