.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link:global(.active) {
  font-weight: bold;
}
.link:hover {
  color: #ffc107;
}
