.App {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 95.5vh;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #726b6b;
  font-family: 'Anta', sans-serif !important;
}
