.main {
  background-color: #67666631;
  border-radius: 10px;
  box-shadow: 0 0 20px #eee;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin-top: 20px;
  justify-content: space-between;
}

.title {
  margin: 0;
  margin-bottom: 30px;
  color: #333;
  font-size: 2em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}
